#!/usr/bin/env xdg-open
[Desktop Entry]
Version=1.0
Type=Application
Categories=Application;Utility;
Terminal=false
Name=hp-uiscan
Exec=/usr/bin/hp-uiscan
Icon=printer
